/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, section, p {
  margin-bottom: 22px;
}

body, html, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", serif !important;
}

strong {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

/*
  ========================================
  All Pages
  ========================================
*/

body {
	background: white url("assets/images/logo.jpg");
	background-size: cover;
}

.center {
	text-align: center;
}

.container {
     padding-right: 0; 
     padding-left: 0; 
     margin-right: 0; 
     margin-left: 0; 
}

/*
  ========================================
  Header
  ========================================
*/

.green-background {
  background: #318543;
	color: black !important;
	background: linear-gradient(to right bottom, #97EBA9, 	#318543);
}

.section-header {
	padding: 25px 0;
	margin: 0;
}

.section-title {
	font-size: 25px;
	padding: 0;
	margin: 0;
}

#LLL {
	color: #4C483F !important;
}

#LLL:hover{
	color: #DEC7CC !important;
	text-decoration: none;
}

.champagne {
  width: 200px;
  margin: 0 auto 0 auto;
}

.pull-right {
	float: right;
}

/*
  ========================================
  Navbar
  ========================================
*/

.navbar {
  background-color: #4B4763;
	background: linear-gradient(to right bottom, #4B4763, #7E7A96);
	color: #656158;
  border: none;
	height: 80px;
	border-radius: 0px;
	margin-bottom: 0px;
}


.navbar-default .navbar-nav > li > a {
  color: #DEC7CC;
  display: inline;
	margin: 20px auto;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
}

#logo-image {
	height: 40px;
	margin-left: 40px;
}

.nav {
	text-align: center;
}

.navbar-nav {
  margin: 20px auto;
}

.nav li, .nav a {
	display: inline;
	color: white;
	text-decoration: none;
	padding: 0 10px;
}

#linkedin {
	height: 36px;
}

#github {
	margin-right: -30px;
}

#experience-link {
	margin-left: -20px;
}

/*
  ========================================
  Aside
  ========================================
*/

.aside {
	height: 100%;
	width: 250px;
	padding-top: 20px;
}

.aside img {
	display: block;
	margin: 0 auto;
	width: 200px;
	border-radius: 50%;
}

.light-background {
	background-color: #DEC7CC;
}

/*
  ========================================
  Section Body
  ========================================
*/

/*body {
  background-color: white;
	background-image: url("assets/images/logo.png") !important;
	background-size: cover;
  height: 100%;
  margin: 0;
}*/

.section-body {
	padding: 60px;
	color: #605C54;
	font-size: 18px;
	background-color: white;
	background-image: url("assets/images/logo.png");
	background-size: cover;
}

.section-body h2 {
	text-align: center;
	color: darken(#605C54, 20%);
	font-size: 24px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -80px;
}

/*
  ========================================
  Footer
  ========================================
*/

footer {
	padding: 30px 0;
	width: 100%;
	background: #4B4763;
	background: linear-gradient(to right bottom, #7E7A96, #4B4763);
	position: relative;
	bottom: 0;
	left: 0;
}

footer-text {
	display: inline-block;
	margin-left: 20px;
}

#email {
	margin-left: 40px;
	color: black;
}

#email-text {
	color: #DEC7CC;
	margin-left: 5px
}

#email-text:hover {
	color: #4C483F !important;
	text-decoration: none;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

